/* Base styling (Desktop/Laptop) */
.container {
  display: flex;
  height: 100vh;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.leftCard,
.rightCard {
  border-radius: 20px;
  margin: 10px;
}

.leftCard {
  background: url("../../public/pexels-pineapple-supply-co-174660.jpg")
    no-repeat center center/cover;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: calc(100vh - 20px);
  width: calc(50% - 20px); /* Half of viewport width minus padding */
}

.leftCardText {
  position: absolute;
  top: 20px;
  left: 20px;
  display: block;
  margin-top: 20px;
  text-decoration: none;
  color: white;
}

.leftCardTextTitle {
  display: block;
  text-decoration: none;
  color: white;
}

.rightCard {
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-style: solid;
  position: relative;
  border-width: 0.3px;
  border-color: rgb(228, 223, 223);
  height: calc(100vh - 20px);
  width: calc(50% - 20px); /* Half of viewport width minus padding */
}

.cardContainer {
  width: 95%;
  max-width: 500px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cardContent {
  width: 95%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
}

.cardContent p {
  text-align: left;
  width: 100%;
}

.loginButton {
  width: 100%;
  color: black;
  background-color: gold;
  border-color: gold;
}

.cardContent h1 {
  text-align: left;
  width: 100%;
}

.link {
  text-decoration: none;
  color: black;
}

/* Mobile styles */
@media (max-width: 767px) {
  .container {
    flex-direction: column;
    display: flex;
    flex: 1;
    height: 100vh;
    width: 100vw;
    padding: 20px;
    box-sizing: content-box;
    justify-content: center;
    align-items: center;
  }

  .leftCard,
  .rightCard {
    width: calc(100% - 40px);
    margin: 10px 0; /* Margin for vertical spacing */
  }

  .leftCard {
    height: calc(50% - 40px);
    margin: 20px 20px 0px 20px;
  }

  .rightCard {
    height: calc(50% - 40px);
    border: none;
  }

  .cardContainer {
    margin: 0;
    padding: 0;
    width: 100vw;
  }

  .cardContent {
    width: 100%;
    margin-bottom: 2cm;
    margin-left: 10px;

    h1 {
      font-weight: 600;
    }

    p {
      // background-color: darkgreen;
      width: 101%;
      // margin-left: 15px;
      font-size: 17px;
      font-weight: 400;
    }
  }

  .loginButton {
    margin-top: 20px;
    font-weight: 600;
    width: 109%;
    margin-left: 20px;
    padding: 10px 0px;
  }

  .bottomText {
    font-weight: 600;
    margin-top: 20px;
  }
}

/* Tablet styles */
@media (min-width: 768px) and (max-width: 991px) {
  .container {
    flex-direction: column;
    display: flex;
    flex: 1;
    height: 100vh;
    width: 100vw;
    padding: 20px;
    box-sizing: content-box;
    justify-content: center;
    align-items: center;
  }

  .leftCard,
  .rightCard {
    width: calc(100% - 40px);
    margin: 10px 0; /* Margin for vertical spacing */
  }

  .leftCard {
    height: calc(50% - 40px);
    margin: 20px 20px 0px 20px;
  }

  .rightCard {
    height: calc(50% - 40px);
    border: none;
  }

  .cardContainer {
    margin: 0;
    padding: 0;
  }

  .cardContent {
    width: 100%;
    margin-bottom: 3cm;

    h1 {
      font-weight: 600;
      font-size: 44px;
    }

    p {
      font-size: 18px;
    }
  }

  .loginButton {
    margin-top: 20px;
    padding: 10px 0px;
  }
}
