.wall {
  display: flex;
  flex: 1;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100vw;
}

.title {
  // background-color: purple;
  margin-left: 20px;
}
.addIcon {
  display: none;
}

.cardBox {
  display: flex;
  flex-basis: 40%;
  flex: 1;
  width: 31%;
  min-width: 28%;
  max-width: 31%;
  height: 40%;
  margin: 0%;
  margin-left: 15px;
  margin-top: 30px;
  margin-right: 15px;
}

.addCardBox {
  display: flex;
  flex-basis: 35%;
  flex: 1;
  width: 31%;
  min-width: 28%;
  max-width: 31%;
  height: 40%;
  margin: 0%;
  margin-left: 15px;
  margin-top: 30px;
  margin-right: 15px;
  align-content: center;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background-color: lightgrey;
}

.cardContainer {
  display: flex;
  flex: 1;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: flex-start;
  border-radius: 20px;
  margin-top: 40px;
  margin-bottom: 20px;
  border-color: #e8e8e8;
  border-width: 1px;
  border-style: solid;
  width: 96%;
  height: 87%;
  margin-left: 20px;
  margin-right: 20px;
  overflow: scroll;
}

/* Mobile styles */
@media (max-width: 767px) {
  .cardContainer {
    display: flex;
    flex-direction: column; /* Stack cards vertically */
    flex-wrap: nowrap;
    align-items: center; /* Center-align items */
    width: 100%;
    height: 95%;
    padding: 20px;
    margin: 0;
    // background-color: olivedrab;
    border-radius: 0;
    border: none;
  }

  .firstcardContainer {
    display: flex;
    flex-direction: column; /* Stack cards vertically */
    flex-wrap: nowrap;
    align-items: center; /* Center-align items */
    width: 100%;
    height: 58% !important;
    min-height: 58%;
    max-height: 60%;
    margin: 0 0 20px 0;
    border-radius: 0;
  }

  .cardBox {
    margin: 0 0 20px 0;
    border-radius: 10px;
    clear: both !important;
    overflow: hidden !important;
    width: 100%;
    min-width: 100%;
    max-width: 110%;
    height: 100% !important;
    min-height: 100%;
    max-height: 100%;
  }

  .secondcardContainer {
    display: flex; /* Align children in a row */
    flex-direction: row; /* Ensure horizontal alignment */
    flex-wrap: nowrap; /* Prevent wrapping */
    overflow-x: auto; /* Allow horizontal scrolling if needed */
    width: 110%; /* Full width to fit the container */
    height: 35% !important;
    min-height: 40%;
    max-height: 40%;
    // margin: 0 20px;
    margin-left: 40px;
    border-radius: 0;
  }

  .cardBoxSecond {
    margin: 0 20px 0 0;
    border-radius: 10px;
    flex: 0 0 auto; /* Prevent cards from growing/shrinking */
    width: 65%; /* Ensure cards have consistent width */
    height: 100%;
    min-height: 100%;
    max-height: 100%;
  }

  .addCardBox {
    display: none;
  }

  .title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin-top: 2px;
    margin-left: 60px;
  }

  .addIcon {
    display: flex;
    margin-left: 10px;
    color: black !important;
  }
}


/* Tablet styles */
@media (min-width: 768px) and (max-width: 991px) {
  .cardContainer {
    display: flex;
    overflow: scroll;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    border: none;
    // background-color: aquamarine;
    margin: auto;
    padding: auto;
  }

  .title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .addIcon {
    display: flex;
    margin-right: 40px;
  }

  .cardBox {
    margin: 0px 0px 20px 0px;

    width: 100%;
    min-width: 98%;
    max-width: 31%;

    height: 20% !important;
    min-height: 20%;
    max-height: 21%;

    border-radius: 10px;
    clear: both !important;
    display: flex;
    flex-basis: 40%;
    flex: 1;
  }

  .addCardBox {
    display: none;
  }
}
