.mainContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
}

.ItemContainer {
    width: 100%;
    margin: 0;
    padding: 0 0 20px 0;
    overflow-y: scroll;
    height: 75%;
}

.badge {
    padding: 5px 15px 5px 15px;
    border-width: 1px;
    border-style: solid;
    border-color: #dcdbdb;
    font-size: 30px;
    font-weight: 500;
    margin: -5px 5px 20px 40px;
    border-radius: 5px;
    box-shadow: 
        1px 1px 1px rgba(126, 124, 124, 0.2), /* Inner shadow */
        -1px -1px 3px rgba(255, 255, 255, 0.8); /* Highlight */
}

.AddButton {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: flex-start;
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    border-width: 1px;
    border-style: solid;
    border-color: #dcdbdb;
    border-radius: 10px;
    background-color: white;
    color: grey;
}

.AddIcon {
    margin: 10px;
}

.AddText {
    margin-top: 7px;
    margin-left: 10px;
    font-size: 18px;
    font-weight: bolder;
}